@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

html {
  font-size: 14px;
  line-height: 20px;
  background-color: #12141B;
  color: #DCD8D3;
  font-weight: 500;
}

body {
  margin: 0;
}

* {
  font-family: "Jura";
  box-sizing: border-box;
}
